<% provide(:title, 'Contact') %>

<h1>About</h1>
<p> This is the class project of Spring 2019 CSCE 606.</p>
<p> We are team TreeNewBee:</p>
<p> Yixu Chen</p>
<p> Yufei Yan</p>
<p> Boquan Tao</p>
<p> Shibo Wang</p>
<p> Zheyong Sun</p>
<p> Lijiu Liang</p>
