<% provide(:title, "Help") %>

<h1>Help</h1>
<p> Contact the Team TreeNewBee @ TAMU for help.</p>
<br />
<br />

<p> Scenario Score = Sum(Company Score &times Company Weight) / Sum(Company Weight)</p>
<p> Company Score = Sum(Category Score &times Category Weight) / Sum(Category Weight)</p>
<p> Category Score = Sum(Subcategory Score &times Subcategory Weight) / Sum(Subcategory Weight)</p>
<p> Scenario Score = Sum(Company Score &times Company Weight) / Sum(Company Weight)</p>
<p> Company Score = Sum(Category Score &times Category Weight) / Sum(Category Weight)</p>
<p> Category Score = Sum(Subcategory Score &times Subcategory Weight) / Sum(Subcategory Weight)</p>
<p> Scenario Score = Sum(Company Score &times Company Weight) / Sum(Company Weight)</p>
<p> Company Score = Sum(Category Score &times Category Weight) / Sum(Category Weight)</p>
<p> Category Score = Sum(Subcategory Score &times Subcategory Weight) / Sum(Subcategory Weight)</p>