<% provide(:title, 'All Scenarios') %>
<h1>All Scenarios</h1>


<ul class="scenarios">
  <% if @scenarios.any? %>
    <table class="table table-hover", style="text-align:center;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Score</th>
        <% if admin? %>
          <th scope="col">Delete</th>
          <th scope="col">Assign</th>
        <% end %>
        <th scope="col">Edit</th>
      </tr>
    </thead>
      <tbody>
        <ul class="scenarios">
          <%= render @scenarios %>
        </ul>
      </tbody>
    </table>
  <% end %>
  <% if decision_maker? or admin? %>
    <div class="panel-footer"><%=button_to 'New Scenario',new_scenario_path, method: :get, class: "btn btn-primary" %></div>
  <% end %>
</ul>
