<% provide(:title, 'All Scenarios') %>
<h1>All Scenarios</h1>


<ul class="scenarios">
  
  <%= render @scenarios %>
  <% if decision_maker?%>
    <div class="row">
      <aside class="col-md-4">
        <section class="scenario_form">
          <%= render 'shared/scenario_form' %>
        </section>
      </aside>
    </div>
  <% end %>
</ul>

