<% provide(:title, 'All Scenarios') %>
<h1>All Scenarios</h1>


<ul class="scenarios">
  <% if @scenarios.any? %>
    <%= render @scenarios %>
  <% end %>
  <% if decision_maker? or admin? %>
    <div class="panel-footer"><%=link_to 'New Scenario',new_scenario_path %></div>
  <% end %>
</ul>

