<% provide(:title, 'All Scenarios') %>
<h1>All Scenarios</h1>


<ul class="scenarios">
  
  <%= render @scenarios %>
  <% if decision_maker?%>
    <div class="panel-footer"><%=link_to 'New Scenario',new_scenario_path %></div>
  <% end %>
</ul>

