<% provide(:title, 'New Scenario') %>
<% provide(:button_text, 'Create my scenario') %>
<h1>New Scenario</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'scenario_form' %>
  </div>
</div>

<br>
<div class="col-md-6 col-md-offset-3">
  <%= button_to 'Back', scenarios_path, :method => :get %>
</div>
