<% provide(:title, 'Outputs') %>
<h1>Outputs</h1>
<div class="center jumbotron">
  <ul class="list-group">
    <li class="list-group-item">Scenario: <%= @scenrio.name%></li>
    <li class="list-group-item">Status: <%= haha %></li>
    <li class="list-group-item">Score: <%= @scenrio.score %></li>
  </ul>
</div>
<%= render 'result' %>