<% provide(:title, 'Outputs') %>
<h1>Outputs</h1>

<div class="container">
  <div class="columns">
    <h3> Companies</h3>
    <div class="col-md-4">
      <div id="tree"></div>
    </div>
    <div class="col-md-8">
      <div id="ContentBody">
      </div>
    </div>
  </div>
</div>

<br>

<script>
var result = <%=raw @result_tree.to_json %>;
$('#tree').jstree(result);

$('#tree').on(
  "select_node.jstree", function(evt, data){
    //selected node object: data.node;
    
    console.log(data.node.a_attr.href);  

    var jqxhr = $.ajax({
      type: "GET",
      url: data.node.a_attr.href,
    }).done(function (data) {
      var divshow = $("#ContentBody");
      divshow.text("");// 清空数据
      divshow.append(data.html);
      console.log('成功, 收到的数据: ' + JSON.stringify(data.html));
    }).fail(function (xhr, status) {
      console.log('失败: ' + xhr.status + ', 原因: ' + status);
    }).always(function () {
      console.log('请求完成: 无论成功或失败都会调用');
    });
  }
);



</script>
