<% provide(:title, 'Outputs') %>
<h1>Outputs</h1>

<div class="container">
  <div class="columns">
    <h3> Companies</h3>
    <div class="col-md-4">
      <div id="tree"></div>
    </div>
    <div class="col-md-8">
      <div id="contents">
        
        <%= render "scores" %>
      </div>
      
    </div>
  </div>
</div>

<br>

<script>
var result = <%=raw @result_tree.to_json %>;
$('#tree').jstree(result);

$('#tree').on(
  "select_node.jstree", function(evt, data){
    //selected node object: data.node;
    
    //console.log();  
    window.location.assign(data.node.a_attr.href);
  }
);

</script>