<footer class="footer">
  <small>
    The <a href="https://github.com/teamtreenewbee">Risk Assessment Tool</a>
    by <a href="https://github.com/teamtreenewbee">Tree New Bee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="git@github.com:teamtreenewbee/TAMUART_new.git">Github</a></li>
    </ul>
  </nav>
</footer>
